@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.detallesTD {
    background-color: whitesmoke;
    width: 100%;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}