.home-container{

    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color:  #515151;
}

.logo-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
  
    width: 50%;
    align-items: center;
}

.logo-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.logo-container img{

    width: 300px;
    filter: drop-shadow(0 2px 5px rgba(106, 106, 106, 0.7))

}

.logo-container p{

    max-width: 400px;

}

.imagen-container{

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagen-container img{

    width: 90%;
    margin-right: 300px;
     filter: drop-shadow(0 2px 5px rgba(106, 106, 106, 0.7));


}

.logo-section{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-section .boton-info{

    
    background-color: black;
    color: white;
    width: 300px;
    margin-top: 24px;
    height: 46px;
    border-radius: 12px;
}

