.form-revisiones {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 1000px;
    max-height: 500px;
    margin: 0 auto 0px 0;
    padding: 0 0 45px 0;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(135, 135, 135, 0.2), 0 5px 5px 0 rgba(84, 84, 84, 0.24);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
  

}

.revisiones-container{

    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    
  
}

.cabecera-revisiones{

    background-color: black;
    width: 100%;
    height: 150px;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    
    
}

.cabecera-revisiones ul{

    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    
}

.cabecera-revisiones ul li{

    list-style: none;
    color: white;
    border-right: solid white 1px;
    height: 100%;
    margin: 0 10px 0 0;
    padding-right: 12px;
    border-radius: 10px;
    
}

.cabecera-revisiones ul li:hover{

    border-right: solid 5px rgb(0, 114, 180);
  
}


.cabecera-revisiones ul li a{

    text-decoration: none;
    color: white;
    display: block;
    margin-top: 10px;
    
}


.cabecera-revisiones ul li a:hover{

    
    color:rgb(0, 114, 180);
    font-family: "Roboto", sans-serif;
    
    
}

.comentarios{

    
    margin: 30px;
}

.comentarios h3{


  font: 1000 24px "Roboto", sans-serif;
  background-color: #8b8b8b;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  display: block;
  margin-bottom: 12px;
    
    
}


.comentarios-revision{
    border: solid 1px rgb(187, 187, 187);
    border-radius: 14px;
    padding: 14px;
    max-height: 50px;
    min-height: 300px;
}

.span-avance{
    margin-right: 10px;
    margin-left: 5px;
    color: rgb(250, 250, 250);
    font-weight: 1000;
    font-size: 18px;
   
}