@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
    
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 1000px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(135, 135, 135, 0.2), 0 5px 5px 0 rgba(84, 84, 84, 0.24);
    border-radius: 12px;
    display: flex;
    flex-direction: column;

}

.logo-login img{

    width: 242px;
    margin: 32px;
}


.form select,
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input.fail:last-of-type {
    margin: 0px;
}

.form input.fail {
    background: #ffa6a6;
    border: 1px solid rgb(248, 46, 46);
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #262626;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 300ms ease;
    cursor: pointer;
    border-radius: 5px;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: rgb(0, 114, 180);
}

.form .link a {
    font-family: "Roboto", sans-serif;
    color: #262626;
    text-decoration: none;
}

.form .link a:hover {
    text-decoration: underline;
}

.form p {
    color: #ff0000;
    text-align: right;
    font-size: 12px;
 
}


body {
    background: whitesmoke;
}

label {
    font-family: "Roboto", sans-serif;
    font-size: small;
    text-align: left;
    display: block;
}