.container-table {
  background-color: aqua;
  width: 75%;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  height: 45px;
  margin-bottom: 10px;
}

.header p {
  font-size: x-large;
  text-align: center;
  width: 200px;
}

.buttons {
  display: flex;
  justify-content:end;
  align-items:center;
}

.buttons input{
  margin-right: 50px;
  width: 240px;
  padding: 10px;
  height: auto;
 
}

.buttons button {
  margin-right: 30px;
  padding: 10px;
  height: auto;
  background-color: rgb(0, 114, 180);
  color: white;
  text-decoration: none;
}

.boton {
  text-decoration: none;
  color: white;
}

.buttons button:hover{
  background-color: #262626;
  
}

table {
  width: 100%;

}

th {
  text-align: left;
}

td {
  text-align: left;
}

td button { 
  margin-right: 10px;
}